*{ margin:0; padding:0; }
a:hover{ color:inherit;}
a:active{ color:inherit;}
a:visited{ color:inherit;}
a{ color:inherit; }

body{background:#f2f2f2;}
.main{ max-width:800px; margin:0 auto; color:#fff;}

.item{ display:block; text-decoration:none; color:inherit; position:relative; height:300px; background-position:center; background-size:cover; 
	/*-webkit-filter:grayscale(100%); */
}
.item>div{ position:absolute; bottom:0px; padding:8px; width:100%; box-sizing:border-box;
			background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
			background-image:linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0));
}
.item .name{ font-size:1.5em; }

aside,nav{display:none; }

/* 使用媒体查询 */
@media(min-width: 1000px){
	nav{ position:fixed; height:50px; width:100%; top:0; left:0; display:block;
		background-image:linear-gradient(180deg,rgba(247,104,104,1),rgba(247,104,104,0.7)); z-index:1000; 
	}
	nav>div{ max-width:1000px; height:100%; margin:0 auto; font-size:0;}
	nav span{ display:inline-block; padding:0 1em; line-height:50px; font-size:20px; color:rgb(255,255,255); cursor:pointer; }
	.nav-span-current{ background-color:rgba(247,104,104,0.7); }
	nav span:not(.nav-span-current):hover{ background-color:rgba(247,255,0,0.4);  }

	.wrap{max-width:1000px; margin:0 auto; display:flex; padding-top:60px; align-items:flex-start;}
	.main{ margin:0; flex:1; }
	.item+.item{ margin-top:4px; }

	aside{ display:block; margin-left:15px; background:rgb(255,255,255);  box-sizing:content-box; width:200px;
		border:1px solid rgba(0,0,0,0.1); padding:4px 4px 24px;
	}
	aside img{display:block; width:100%; height:auto;}
	.aside-title{ font-size:20px;  margin-top:4px; line-height: 1.8; text-align:center; }
	.aside-urls{ font-size:16px; color:rgb(210,210,210); display:flex; }
	.aside-urls>p{ flex:1; text-align:center; }
	.aside-urls a{display: inline-block; line-height: 2; border-radius:100%; border:1px solid rgba(0,0,0,0.1); width:2em;}
	.aside-urls a:hover{ border-color:rgb(247,105,105); color:rgb(247,105,105); }
}