@import "~sass/var";

.article-new {
    padding: $padding;

    input {
        height: 2em;
        padding: 0 $padding;
        width: 300px;
        max-width: 100%;
        // display: block;
        border: 1px solid rgb(191, 187, 188);
    }

    textarea {
        display: block;
        width: 80%;
        min-height: 10em;
    }
}

.btn-toolbar {
    a[data-edit] {
        border: 1px solid red;
        display: inline-block;
        line-height: 2;
        padding: 0 .5em;
    }
}

#editor {
    overflow: scroll;
    max-height: 500px;
    height: 500px;
    color: #000;
    border: 1px solid #555;
    outline: none;
    padding: $padding;
    line-height: 1.4;
    img {
        max-width: 100%;
        height: auto;
    }
}
