
@import "~sass/var";

#article-details {
    font-size: 14px;
    padding: 10px;

    $margin : 10px ;
    h1 {
        color: rgb(50, 50 ,50);
        font-size: 1.8em;
        line-height: 1.4;
    }

    .tags-wrap {
        // line-height: 2 ;
        margin: $margin 0;

        .tag {
            display: inline-block;
            background: $tagColor ;
            color: #fff;
            padding: 4px;
            margin-right: .5em;
        }
    }

    .details-tool {
        margin: $margin 0;
        button {
            margin-right: 6px;
        }
    }

    .details-content {
        margin: $margin 0;
        line-height: 1.4;
        img {
            max-width: 100%;
            display: block;
            height: auto;
        }
    }

    .details-time {
        margin: $margin 0;
        color: rgb(210, 210, 210);
    }
}
