@import "~sass/base";

%fuck {
    background: #f00;
    border: 10px solid;
}

.article-list {
    font-size: 14px;
    line-height: 1.4;
    h1 {
        color: #332F2F;
        font-size: 1.6em;
    }


    li {
        font-size: 14px;
        line-height: 1.4;

        &::after {
            content: "";
            display: block;
            $border-color: #ece8e8;
            @include border($border-color);
        }

        &>a {
            display: block;
            padding: 10px;
        }

        h3 {
            color: #555;
            font-size: 1.2em;
        }

        .summary {
            font-size: 12px;
            color: #999;
            word-break: break-all;
            // text-align: justify;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .bott {
            color: #777;
            font-size: 12px;
            margin-top: 4px;
        }
    }
}
