@import './../../sass/size.scss';

#sidebar {
    background-color: rgb(43, 45, 39);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: $header_height;
    height: 100%;
    width: $sidebar_width;
    transform: translateX(0%);
    transition: transform .3s;
    line-height: 2.2;

    &.show {
        transform: translateX(-100%);
    }

    button {
        position: absolute;
        left: 100%;
        bottom: $header_height;
        opacity: .2;
    }

    li {
        border-bottom: 1px solid rgb(91, 105, 106);

        &.current {
            background: rgb(43, 200, 215);
        }
    }

    a {
        display: block;
        padding-left: 2em;

        &:hover {
            background: rgb(43, 200, 215);
        }
    }
}
