
#about {
    height: 100vh;
    // 背景图
    background-image: repeating-linear-gradient(0, rgba(0,0,0,0) 0px, rgba(0, 0, 0, 0) 10px, rgba(32, 145, 108, .1) 10px, rgba(32, 145, 108, .1)  20px),repeating-linear-gradient(90deg, rgba(0,0,0,0) 0px, rgba(0, 0, 0, 0) 10px, rgba(32, 145, 108, .1) 10px, rgba(32, 145, 108, .1)  20px);
    div {
        padding: 10px;
        line-height: 1.8;
    }
}
