<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet"  href="/static/css/index.css">
</head>

<body>
    <div onclick="getJson()" style="display:none;">
        测试fetch
    </div>
    <div id="login">
        用户名:
        <input type="text" placeholder="用户名称" id="username">
        <input type="password" placeholder="密码" id="password">
        <button id="enterSocket">进入聊天室</button>
    </div>
    <div id="main">
        <div id="friends"></div>
        <div id="chat">
            <div id="chats"></div>
            <div id="send-box">
                <input type="text">
                <button id="send">发送</button>
            </div>
        </div>
    </div>
    <div class="test"></div>
    <script src="/static/js/fetch.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>
