.MCUBE_MOD_ID_26302 #c2, .MCUBE_MOD_ID_26302 .c2-item {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0
}
.MCUBE_MOD_ID_26302 #c2 {
    position: relative;
    overflow: hidden
}
.MCUBE_MOD_ID_26302 #c2>div {
    position: relative;
    height: 100%;
    overflow: hidden
}
.MCUBE_MOD_ID_26302 #c2 audio {
    display: none
}
.MCUBE_MOD_ID_26302 #c2 .arrow {
    position: fixed;
    bottom: .27rem;
    width: 1.2rem;
    height: .96rem;
    left: 3.15rem;
    pointer-events: none;
    -webkit-animation: xxx .6s ease-out infinite alternate;
    animation: xxx .6s ease-out infinite alternate
}
.MCUBE_MOD_ID_26302 #c2 .arrow img {
    width: 100%;
    height: auto
}
@-webkit-keyframes xxx {
    from {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
    to {
        -webkit-transform: translate3D(0, -50%, 0);
        transform: translate3D(0, -50%, 0)
    }
}
@keyframes xxx {
    from {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
    to {
        -webkit-transform: translate3D(0, -50%, 0);
        transform: translate3D(0, -50%, 0)
    }
}
.MCUBE_MOD_ID_26302 #c2 .music {
    position: fixed;
    top: .7rem;
    right: .4rem;
    width: .72rem;
    height: .72rem
}
.MCUBE_MOD_ID_26302 #c2 .music img {
    width: 100%;
    height: auto
}
.MCUBE_MOD_ID_26302 #c2 .music.animation {
    -webkit-animation: yyy 2s linear infinite;
    animation: yyy 2s linear infinite
}
@-webkit-keyframes yyy {
    from {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
@keyframes yyy {
    from {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
.MCUBE_MOD_ID_26302 .c2-item {
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-perspective: 500;
    perspective: 500
}
.MCUBE_MOD_ID_26302 .c2-item.current {
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out
}
.MCUBE_MOD_ID_26302 .c2-item .item-warp {
    position: absolute;
    bottom: 0;
    height: 13.35rem;
    width: 100%
}
.MCUBE_MOD_ID_26302 .c2-item .goods {
    height: 7.73rem;
    width: 100%;
    position: absolute;
    background-image: url(http://s16.mogucdn.com/p1/160324/upload_ifrtiytdgi2tmzjxg4zdambqhayde_733x775.png);
    background-size: auto 100%;
    background-position: .26rem 0;
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    opacity: 0;
    -webkit-transform: translate3D(0, -50%, 0);
    -ms-transform: translate3D(0, -50%, 0);
    transform: translate3D(0, -50%, 0)
}
.MCUBE_MOD_ID_26302 .c2-item .goods.animation {
    opacity: 1;
    -webkit-animation: kfgoods 1.4s linear backwards;
    animation: kfgoods 1.4s linear backwards
}
@-webkit-keyframes kfgoods {
    from {
        -webkit-transform: translate3D(0, -50%, 0) rotateY(0);
        transform: translate3D(0, -50%, 0) rotateY(0);
        opacity: 0
    }
    to {
        -webkit-transform: translate3D(0, -50%, 0) rotateY(360deg);
        transform: translate3D(0, -50%, 0) rotateY(360deg);
        opacity: 1
    }
}
@keyframes kfgoods {
    from {
        -webkit-transform: translate3D(0, -50%, 0) rotateY(0);
        transform: translate3D(0, -50%, 0) rotateY(0);
        opacity: 0
    }
    to {
        -webkit-transform: translate3D(0, -50%, 0) rotateY(360deg);
        transform: translate3D(0, -50%, 0) rotateY(360deg);
        opacity: 1
    }
}
.MCUBE_MOD_ID_26302 .c2-item .goods .items {
    width: 5.5rem;
    height: 5.21rem;
    margin: 1.2rem auto 0;
    overflow: hidden
}
.MCUBE_MOD_ID_26302 .c2-item .goods .items .item {
    width: 1.7rem;
    height: 2.24rem;
    display: inline-block;
    padding-top: .2rem;
    float: left;
    overflow: hidden
}
.MCUBE_MOD_ID_26302 .c2-item .goods .items .item div {
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    overflow: hidden;
    border: .04rem solid rgba(255, 255, 255, .5)
}
.MCUBE_MOD_ID_26302 .c2-item .goods .items .item p {
    font-size: .28rem;
    text-align: center;
    color: #fff
}
.MCUBE_MOD_ID_26302 .c2-item .goods .items .item p:after {
    content: ">"
}
.MCUBE_MOD_ID_26302 .c2-item .goods .items .item:nth-child(3n+2) {
    margin: 0 .2rem
}
.MCUBE_MOD_ID_26302 .c2-item .goods .more {
    display: block;
    width: 2.46rem;
    height: .65rem;
    background: rgba(0, 0, 0, .5);
    margin: 0 auto
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(1) .i-1 {
    position: absolute;
    width: 2.65rem;
    height: .68rem;
    left: 2.38rem;
    top: 10.77rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(1) .i-1.animation {
    display: block;
    -webkit-animation: ani1 ease-out 1s;
    animation: ani1 ease-out 1s
}
@-webkit-keyframes ani1 {
    0 {
        -webkit-transform: scale3D(2, 2, 1);
        transform: scale3D(2, 2, 1)
    }
    60% {
        -webkit-transform: scale3D(0.6, .6, 1);
        transform: scale3D(0.6, .6, 1)
    }
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
}
@keyframes ani1 {
    0 {
        -webkit-transform: scale3D(2, 2, 1);
        transform: scale3D(2, 2, 1)
    }
    60% {
        -webkit-transform: scale3D(0.6, .6, 1);
        transform: scale3D(0.6, .6, 1)
    }
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(2) .i-1 {
    position: absolute;
    width: 3.65rem;
    height: 1.54rem;
    left: .44rem;
    top: 2.05rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(2) .i-1.animation {
    display: block;
    -webkit-animation: ani2 ease-out .6s;
    animation: ani2 ease-out .6s
}
@-webkit-keyframes ani2 {
    0 {
        -webkit-transform: translate3D(-200%, 0, 0);
        transform: translate3D(-200%, 0, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
@keyframes ani2 {
    0 {
        -webkit-transform: translate3D(-200%, 0, 0);
        transform: translate3D(-200%, 0, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(3) .i-1 {
    position: absolute;
    width: 3.64rem;
    height: 1.95rem;
    left: .3rem;
    top: 1.98rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(3) .i-1.animation {
    display: block;
    -webkit-animation: ani3 ease-out .6s;
    animation: ani3 ease-out .6s
}
@-webkit-keyframes ani3 {
    0 {
        -webkit-transform: translate3D(-200%, 0, 0);
        transform: translate3D(-200%, 0, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
@keyframes ani3 {
    0 {
        -webkit-transform: translate3D(-200%, 0, 0);
        transform: translate3D(-200%, 0, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(4) .i-1 {
    position: absolute;
    width: 1.15rem;
    height: 1.38rem;
    left: 3.64rem;
    top: 1.45rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(4) .i-1.animation {
    display: block;
    -webkit-animation: ani4 ease-out .3s;
    animation: ani4 ease-out .3s
}
@-webkit-keyframes ani4 {
    0 {
        -webkit-transform: translate3D(200%, -200%, 0);
        transform: translate3D(200%, -200%, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
@keyframes ani4 {
    0 {
        -webkit-transform: translate3D(200%, -200%, 0);
        transform: translate3D(200%, -200%, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(4) .i-2 {
    position: absolute;
    width: 2.97rem;
    height: 2.71rem;
    left: .24rem;
    top: 7.52rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(4) .i-2.animation {
    display: block;
    -webkit-animation: ani41 ease-out 1.2s;
    animation: ani41 ease-out 1.2s
}
@-webkit-keyframes ani41 {
    0 {
        -webkit-transform: translate3D(0, 300%, 0);
        transform: translate3D(0, 300%, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        opacity: 1
    }
}
@keyframes ani41 {
    0 {
        -webkit-transform: translate3D(0, 300%, 0);
        transform: translate3D(0, 300%, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        opacity: 1
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(5) .i-1 {
    position: absolute;
    width: 2.67rem;
    height: 3.35rem;
    left: 4.22rem;
    top: .92rem;
    opacity: 0
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(5) .i-1.animation {
    -webkit-animation: ani5 ease-in .6s .3s forwards;
    animation: ani5 ease-in .6s .3s forwards
}
@-webkit-keyframes ani5 {
    0 {
        -webkit-transform: rotateZ(-60deg);
        transform: rotateZ(-60deg);
        opacity: 0
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
        opacity: 1
    }
}
@keyframes ani5 {
    0 {
        -webkit-transform: rotateZ(-60deg);
        transform: rotateZ(-60deg);
        opacity: 0
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
        opacity: 1
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(5) .i-2 {
    position: absolute;
    width: 3.65rem;
    height: 1.31rem;
    left: 3.67rem;
    top: 10.13rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(5) .i-2.animation {
    display: block;
    -webkit-animation: ani51 ease-out 1.2s;
    animation: ani51 ease-out 1.2s
}
@-webkit-keyframes ani51 {
    0 {
        -webkit-transform: translate3D(0, 300%, 0);
        transform: translate3D(0, 300%, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        opacity: 1
    }
}
@keyframes ani51 {
    0 {
        -webkit-transform: translate3D(0, 300%, 0);
        transform: translate3D(0, 300%, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        opacity: 1
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(6) .i-4 {
    position: absolute;
    width: 3.57rem;
    height: 2.04rem;
    left: .39rem;
    top: 1.89rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(6) .i-4.animation {
    display: block;
    -webkit-animation: ani64 ease-out .5s;
    animation: ani64 ease-out .5s
}
@-webkit-keyframes ani64 {
    0 {
        -webkit-transform: translate3D(0, -150%, 0);
        transform: translate3D(0, -150%, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
@keyframes ani64 {
    0 {
        -webkit-transform: translate3D(0, -150%, 0);
        transform: translate3D(0, -150%, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(6) .i-1 {
    position: absolute;
    width: 1.8rem;
    height: 1.22rem;
    left: .51rem;
    top: 6.98rem;
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotateZ(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotateZ(-60deg)
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(6) .i-1.animation {
    -webkit-animation: ani6 ease-out .5s .4s forwards;
    animation: ani6 ease-out .5s .4s forwards
}
@-webkit-keyframes ani6 {
    0 {
        -webkit-transform: rotateZ(-60deg);
        transform: rotateZ(-60deg)
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
}
@keyframes ani6 {
    0 {
        -webkit-transform: rotateZ(-60deg);
        transform: rotateZ(-60deg)
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(6) .i-2 {
    position: absolute;
    width: .74rem;
    height: .76rem;
    left: 1.35rem;
    top: 8.02rem;
    -webkit-transform: scale3D(3, 3, 1);
    -ms-transform: scale3D(3, 3, 1);
    transform: scale3D(3, 3, 1);
    opacity: 0
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(6) .i-2.animation {
    -webkit-animation: ani61 ease-out .6s .6s forwards;
    animation: ani61 ease-out .6s .6s forwards
}
@-webkit-keyframes ani61 {
    0 {
        -webkit-transform: scale3D(3, 3, 1);
        transform: scale3D(3, 3, 1);
        opacity: 0
    }
    80% {
        -webkit-transform: scale3D(0.4, .4, 1);
        transform: scale3D(0.4, .4, 1)
    }
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
        opacity: 1
    }
}
@keyframes ani61 {
    0 {
        -webkit-transform: scale3D(3, 3, 1);
        transform: scale3D(3, 3, 1);
        opacity: 0
    }
    80% {
        -webkit-transform: scale3D(0.4, .4, 1);
        transform: scale3D(0.4, .4, 1)
    }
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
        opacity: 1
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(6) .i-3 {
    position: absolute;
    width: .54rem;
    height: .57rem;
    left: 5.83rem;
    top: 6.87rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(6) .i-3.animation {
    display: block;
    -webkit-animation: ani63 ease-out .6s .8s;
    animation: ani63 ease-out .6s .8s
}
@-webkit-keyframes ani63 {
    0 {
        -webkit-transform: scale3D(0.2, .2, 1);
        transform: scale3D(0.2, .2, 1);
        opacity: 0
    }
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
        opacity: 1
    }
}
@keyframes ani63 {
    0 {
        -webkit-transform: scale3D(0.2, .2, 1);
        transform: scale3D(0.2, .2, 1);
        opacity: 0
    }
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
        opacity: 1
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(7) .i-1 {
    position: absolute;
    width: 1.22rem;
    height: 3.42rem;
    left: 3.12rem;
    top: 1.56rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(7) .i-1.animation {
    display: block;
    -webkit-animation: ani71 ease-out .4s;
    animation: ani71 ease-out .4s
}
@-webkit-keyframes ani71 {
    0 {
        -webkit-transform: translate3D(0, -150%, 0);
        transform: translate3D(0, -150%, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
@keyframes ani71 {
    0 {
        -webkit-transform: translate3D(0, -150%, 0);
        transform: translate3D(0, -150%, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(7) .i-2 {
    position: absolute;
    width: 1.54rem;
    height: 2.52rem;
    left: 5.1rem;
    top: 10.56rem;
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotate(90deg);
    transform: rotateZ(90deg)
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(7) .i-2.animation {
    -webkit-animation: ani72 ease-out .5s .6s forwards;
    animation: ani72 ease-out .5s .6s forwards
}
@-webkit-keyframes ani72 {
    0 {
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg)
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
}
@keyframes ani72 {
    0 {
        -webkit-transform: rotateZ(90deg);
        transform: rotateZ(90deg)
    }
    100% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(7) .i-3 {
    position: absolute;
    width: 1.74rem;
    height: 1.74rem;
    left: .68rem;
    top: 7.83rem;
    -webkit-transform: translate3D(0, 350%, 0);
    -ms-transform: translate3D(0, 350%, 0);
    transform: translate3D(0, 350%, 0)
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(7) .i-3.animation {
    -webkit-animation: ani73 ease-out .6s .4s forwards;
    animation: ani73 ease-out .6s .4s forwards
}
@-webkit-keyframes ani73 {
    0 {
        -webkit-transform: translate3D(0, 350%, 0);
        transform: translate3D(0, 350%, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        opacity: 1
    }
}
@keyframes ani73 {
    0 {
        -webkit-transform: translate3D(0, 350%, 0);
        transform: translate3D(0, 350%, 0);
        opacity: 0
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        opacity: 1
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(8) .i-1 {
    position: absolute;
    width: 3.58rem;
    height: 1.32rem;
    left: 1.1rem;
    top: 1.76rem;
    display: none
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(8) .i-1.animation {
    display: block;
    -webkit-animation: ani81 ease-out .6s forwards;
    animation: ani81 ease-out .6s forwards
}
@-webkit-keyframes ani81 {
    0 {
        -webkit-transform: translate3D(0, -350%, 0);
        transform: translate3D(0, -350%, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
@keyframes ani81 {
    0 {
        -webkit-transform: translate3D(0, -350%, 0);
        transform: translate3D(0, -350%, 0)
    }
    100% {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0)
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1 {
    width: 6.8rem;
    height: 13.8rem;
    overflow: hidden;
    margin: 2.67rem auto
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1 a {
    width: 3.3rem;
    height: 1.8rem;
    display: inline-block;
    float: left;
    background: rgba(255, 255, 255, .7);
    margin-top: .2rem;
    opacity: 0
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1 a:nth-child(2n) {
    margin-left: .2rem
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1.animation a:nth-child(1) {
    -webkit-animation: ani101 .3s .1s forwards;
    animation: ani101 .3s .1s forwards
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1.animation a:nth-child(2) {
    -webkit-animation: ani101 .3s .6s forwards;
    animation: ani101 .3s .6s forwards
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1.animation a:nth-child(3) {
    -webkit-animation: ani101 .3s .4s forwards;
    animation: ani101 .3s .4s forwards
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1.animation a:nth-child(4) {
    -webkit-animation: ani101 .3s 1s forwards;
    animation: ani101 .3s 1s forwards
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1.animation a:nth-child(5) {
    -webkit-animation: ani101 .3s .8s forwards;
    animation: ani101 .3s .8s forwards
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1.animation a:nth-child(6) {
    -webkit-animation: ani101 .3s .5s forwards;
    animation: ani101 .3s .5s forwards
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1.animation a:nth-child(7) {
    -webkit-animation: ani101 .3s .8s forwards;
    animation: ani101 .3s .8s forwards
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-1.animation a:nth-child(8) {
    -webkit-animation: ani101 .3s .9s forwards;
    animation: ani101 .3s .9s forwards
}
@-webkit-keyframes ani101 {
    from {
        -webkit-transform: translate3D(0, 100%, 0);
        transform: translate3D(0, 100%, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        opacity: 1
    }
}
@keyframes ani101 {
    from {
        -webkit-transform: translate3D(0, 100%, 0);
        transform: translate3D(0, 100%, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translate3D(0, 0, 0);
        transform: translate3D(0, 0, 0);
        opacity: 1
    }
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-2 {
    position: absolute;
    top: 12.23rem;
    left: 2.28rem;
    width: 2.91rem;
    height: 9.1rem
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) .item-2 img {
    width: 100%;
    height: auto
}
.MCUBE_MOD_ID_26302 .c2-item:nth-child(10) h1 {
    font-size: .63rem;
    position: absolute;
    top: 11.4rem;
    left: 4rem;
    width: .6rem;
    text-align: center;
    color: #fff
}
.MCUBE_MOD_ID_26302 #console {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    word-break: break-all;
    background: rgba(0, 0, 0, .3);
    pointer-events: none;
    color: #fff;
    display: none
}
