doctype html
html
    head
        meta(charset='utf-8')
        title='测试'
    body
        div(id='app')
        script(src='/js/react.min.js')
        script(src='/js/react-dom.min.js')
        script(src='/js/react-with-addons.min.js')
        script(src='/js/ReactRouter.min.js')
        script(src='/js/app.js')
