
/*
* 本布局，部分使用了flex
 */
html,body,div,form,ul,ol,li,img,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;border:0;}
html{ font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; overflow:hidden;}

.music-player-box{position:fixed;top:0;left:0;height:100%;width:100%; display:flex; flex-direction:column ; min-height:500px; min-width:600px; background:rgb(120,120,120);}

.music-main{flex:1; display:flex; justify-content:flex-end;}

#bgd { position:absolute;height:100%;width:100%;z-index:-1; }
#music-pic{ position:absolute; top:0; left:0; height:100%; width:100%; }
#music-bgd{ position:absolute; top:0; left:0; height:100%; width:100%; }

#music-list-wrap{overflow:hidden; position:relative; flex:4; min-width:400px;}
.music-list{background-color:rgba(255,255,255,0.2);width:100%;min-height:100%;position:absolute;}
.music-list-item{list-style:decimal-leading-zero outside; cursor:pointer; height:50px; line-height:50px; padding-left:2em; position:relative;}
.music-list-item+.music-list-item{border-top:1px solid rgba(255,255,255,0.3);}
.music-list-item:not(.mli-current):hover{ background-color:rgba(255,255,255,0.1); }
.music-li-delete{ position:absolute; top:0; right:0; height:20px; width:20px; border-radius:20px;
				  border:1px solid rgba(0,0,0,0.1); cursor:pointer;
	              background-image:repeating-linear-gradient(45deg, rgba(255,255,255,0) 0px, rgba(255,255,255,0) 14px, rgba(255,255,255,0.2) 14px, rgba(255,255,255,0.2) 15px, rgba(255,255,255,0) 15px),
	              				repeating-linear-gradient(135deg, rgba(255,255,255,0) 0px, rgba(255,255,255,0) 14px, rgba(255,255,255,0.2) 14px, rgba(255,255,255,0.2) 15px, rgba(255,255,255,0) 15px); }
.music-li-delete:hover{
	background-image:repeating-linear-gradient(45deg, rgba(255,255,255,0.2) 0px, rgba(255,255,255,0.2) 14px, rgba(247,105,105,1) 14px, rgba(247,105,105,1) 15px, rgba(255,255,255,0.2) 15px),
	              	repeating-linear-gradient(135deg, rgba(255,255,255,0.2) 0px, rgba(255,255,255,0.2) 14px, rgba(247,105,105,1) 14px, rgba(247,105,105,1) 15px, rgba(255,255,255,0.2) 15px);

}
.mli-current{ color:rgba(247,105,105,1); background-color:rgba(255,255,255,0.7); }

.music-main-side{flex:1;min-width:200px;display:flex;flex-direction: column;background-color:rgba(255,255,255,0.2);}
#music-pic-wrap{height:200px;width:200px;background-size:cover;margin:10px auto;}

#lyric-wrap{min-height:200px;overflow:hidden;position:relative;flex:1;}
#lyric{text-align:center;width:100%;padding:100px 0;box-sizing:border-box;overflow:hidden;position:absolute;}
#lyric>p{line-height:2em;padding:0 10px;}
.lyric-item-current{color:red;}

.music-bott{ height:50px; width:100%; display:flex; justify-cntent:flex-end; padding:30px 0; }
.play-prev-next{ position:relative; overflow:hidden; flex:1 ;min-width:230px; display:flex; justify-content: center; }
.ppn-item{ height:50px; width:50px;  background-color:rgba(255,255,255,0.2); background-clip:content-box; border-radius:10px; text-align:center; line-height:50px; cursor:pointer; overflow:hidden;}
.ppn-item+.ppn-item{ margin-left:10px;}
#prev{ color:rgb(52,158,105); }
#play{ color:rgb(111,249,193); }
#next{ color:rgb(179,255,188); }

.jindu-wrap{flex:3;display:flex;}
#currentTime,#duration{width:3em;height:50px;line-height:50px;text-align:center;background-color:rgba(249,228,89,0.8);}
#jindu{height:10px;background:pink;margin:0 10px;margin-top:20px;flex:1;position:relative;}
#jindu-load{position:relative;height:10px;width:0; background-color:rgba(0,105,105,0.5);}
#jindu-current{width:0px; height:10px; background:rgb(247,105,105); position:absolute; top:0; left:0;}
#jindu-circle{position:absolute;top:0;right:-5px;width:10px;height:10px;background:black;}

.volume-wrap{flex:1;display:flex;margin:0 20px;}
#mute{width:20px;height:50px;margin-right:10px;line-height:50px;text-align:center;cursor:pointer; background-color:rgba(249,228,89,0.8);}
#volume{height:10px;background:pink;flex:1;margin-top:20px;}
#volume-current{width:0px;height:10px;background:rgb(247,105,105);position:relative;}
#volume-circle{position:absolute;top:0;right:-5px;width:10px;height:10px;background:black;}
