#home {
    &>h1 {
        color: red;
    }

    .banner {
        padding-top: 40%;
        background-image: url(http://ww4.sinaimg.cn/mw690/69b8b46egw1esqv7eo4slj20xc0m80vi.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.text {
    display: flex;
    // height: 100px;

    &>.fuck{
        // width: percentage(1 / 1.2);
        // background: green;
    }

    &>.side {
        flex: 1;
        background: red;
    }
}
