upstream fuck {
    server localhost:3000 ;
}

server {
    listen       7777;
    server_name  www.shabi.com;

    location ~ \.(js|css|html|jpg|png|webp|gif|mp4|mp3)$ {
        #指向一个目录
        root html;
    }
    location / {
        # 转发所有请求
        proxy_pass  http://127.0.0.1:10240;
    }

    location = /about {
        # 添加头信息
        add_header  Content-Type 'text/html; charset=utf-8';
        add_header  sb 'fuck you';
        # 过期时间
        # expires 10d;
        return 200 '关于';
    }

    location = /json {
        # 添加头信息
        add_header  Content-Type 'text/json; charset=utf-8';
        return 200 '{"code": 1001}';
    }

    location = /redirect {
        return 301 http://baidu.com;
    }

    location = /blog {
        # 会把请求代理转发到另一个服务器
        proxy_pass  http://fuck;
    }
}
