<div>我是另外一个模板</div>
<a ui-sref="book({id:'zhengzhi'})">图书页面</a>

<div style="width:200px;text-align:center;background:red;">
	<span>第一次</span><span style="margin-left:50px">第二次</span>
</div>

<div ng-controller="test">
	<div ng-repeat="x in [0,1]">
		<ajax hey="run()">
			<div>我是指令</div>
		</ajax>
	</div>
</div>

<div ng-controller="parent">
	<parent1>
		<div ng-bind="name"></div>
	</parent1>
</div>

<div ng-controller="child">
	<input type="text" ng-model="name">
	<child1 sb="{{name}}" greet="resetName()"></child1>
	<drink flavor="name"></drink>
</div>


