@import './../../sass/base';

#header {
    line-height: $header_height;
    background: $header_color;
    color: #fff;
    font-size: 1.2em;
    padding-left: 40px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    transform: translateX(0);

    transition: transform .3s;
    transform: translateX($sidebar_width);

    &.sidebar-hide {
        transform: translateX(0);
    }
}
