@import './../../sass/size';

#header {
    line-height: $header_height;
    background: rgb(43, 130, 221);
    color: #fff;
    font-size: 1.4em;
    padding-left: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10001;
}
