<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <%- include('./template/nav.ejs',{data:{nav:'wthe fuck'}}) %>
        <div><%= data.body %></div>
        <%- include('./template/footer.ejs',{}) %>

        <form action="/upload" method="POST" enctype='multipart/form-data' target="heihei">
            <input type="file" name="file">
            <input type="text" name="name">
            <input type="checkbox" name="wife">
            <input type="text" name="name">
            <input type="text" name="age">
                <input type="file" name="file1">
            <input type="submit" value="提交">
        </form>
        <iframe src="" width="" height="" name="heihei"></iframe>
        <script src="/<%= jsFile %>" charset="utf-8"></script>
        <script type="text/javascript">
            var xhr = new XMLHttpRequest()
            xhr.open('DELETE','/sex')
            xhr.timeout = 4000
            xhr.onreadystatechange = function(){
                console.log(xhr.readyState)
                if(xhr.readyState==4){
                    console.log( xhr.response )
                }
            }
            xhr.send()
        </script>
    </body>
</html>
