@import "~sass/var";



.main {
    padding-top: $header_height;
    display: flex;

    .content {
        flex: 1;
        overflow: hidden;
        min-height: 100vh;
        box-sizing: border-box;
        transition: transform  .2s;
        transform: translateX($sidebar_width);

        &.sidebar-hide {
            transform: translateX(0);
        }
    }
}
