@import "~sass/var";

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(247, 155, 155);
}

ul,ol,li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,input,textarea {
    outline: none;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    box-shadow: none;
}

button, .btn {
    // 奇怪，在iPhone上必须设置background，才会显示正常
    display: inline-block;
    background: inherit;
    padding: 0 1em;
    line-height: 2;
    border-width: 1px;
    cursor: pointer;
    border: 1px solid rgb(223, 220, 216);
}

body {
    overflow-x: hidden;
    font-size: 14px;
}

.main {
    padding-top: $header_height;
    display: flex;

    .content {
        flex: 1;
        min-height: 100vh;
        box-sizing: border-box;
        transition: transform  .2s;
        transform: translateX($sidebar_width);

        &.sidebar-hide {
            transform: translateX(0);
        }
    }
}
