@import "./../../sass/size";

* {
    margin: 0;
    padding: 0;
}

ul,ol,li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button,input,textarea {
    outline: none;
}

button {
    padding: 0 1em;
    line-height: 2em;
}

.main {
    padding-top: $header_height;
    display: flex;
    transition: padding .3s;
    padding-left: $sidebar_width;

    &.sidebar-hide {
        padding-left: 0;
    }

    .content {
        flex: 1;
        min-height: 100vh;
        padding: 10px;
        box-sizing: border-box;
    }
}
